//colors

$medium-sea-green:#48b774;
$color-white: #ffffff;
$color-black: #000000;
$color-charcoal: #4a4a4a;
$color-atomic-tangerine: #fb9b69;
$color-white-smoke: #f2f2f2;
$color-whisper-standart: #e5e5e5;
$color-mint-cream: #ecf7f3;
$color-night-rider: #2d2d2d;
$color-coral: #ff8345;
$color-gray: #7c7c7c;
$color-gainsboro: #dedede;
$color-nobel: #a1a1a1;
$color-dim-gray: #707070;
$color-atomic-tangerine-light: #fd905a;
$color-light-black: #010101;
$color-seagull: #81b3d2;
$color-roman-coffee: #766357;
$color-gainsboro: #dbdbdb;


//шрифты
$ff-poppins: "Poppins", "Arial", sans-serif;


// Viewports

$vp-768: 768px;
$vp-1200: 1200px;
$vp-560: 560px;
